/* Color Palette, from Coolors.co. See `palette.png` for an image of most of these colors.

Eerie Black (black with reddish overtones): #1A1423
Grullo (light khaki brown): #A49E8D
Dark Liver (dark brown): #504136
Desaturated Cyan (muted pastel green): #689689
Linen (almost white): #F8F4E3
Pastel Gray (light tan gray): #D4CDC3

*/

/* General Styles */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #F8F4E3;
}

header {
  background: #A49E8D;
  color: #1A1423;
  text-align: center;
}

p {
  font-size: 20px;
  color: #1A1423;
}

a {
  color: #689689;
}

a:hover {
  text-decoration: none;
  color: #1A1423;
}

/* ######################## Navbar ############################# */
.navbar {
  background: #689689;
  padding: 10px 20px;
  transition: padding 2s ease;
}

.navbar-background {
  padding: 2px 20px;
}

.navbar-brand {
  color: #1A1423;
  border: 3px solid #504136;
  font-size: 30px;
  transition: all 2s ease;
}

.navbar-brand:hover {
  background: #504136;
  color: #F8F4E3;
}

.bar-1, .bar-2, .bar-3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #1A1423;
  transition: all 0.5s ease;
}

.change .bar-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.nav-link {
  color: #504136;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 2s ease;
}

.nav-link:hover {
  background: #504136;
  color: #F8F4E3;
}

.search-btn {
  background: #D4CDC3;
  color: #1A1423;
  transition: all 1s ease;
}

.search-btn:hover {
  background: #A49E8D;
  color: #F8F4E3;
}
